.title {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 20px;
  font-size: x-large;
  font-weight: 400;
  padding: 10px;
  border-bottom: 2px solid var(--borders);
}

.navtitle {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-size: large;
  padding-top: 5px;
}

.postcontainer {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.linkbox {
  text-align: center;
  padding-top: 20px;
  font-size: large;
  border: 2px solid var(--borders);
  margin: 10px;
  padding: 5px;
  width: fit-content;
  background-color: #2e2e2e;

  &:hover {
    background-color: grey;
    color: white;
  }
}

.sortcon {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.linkasc,
.linkdesc {
  border-radius: 5px;
  border-top: 2px solid #00f1f1;
  border-bottom: 2px solid #00f1f1;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  background-color: var(--boxbackground);
  &:hover {
    background-color: grey;
    color: white;
  }
}

@media (min-width: 850px) {
  .postcontainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
