.info {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 20px;
  font-size: x-large;
  font-weight: 400;
  padding: 10px;
  border-bottom: 2px solid var(--borders);
}

.overview {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-size: large;
  padding: 20px;
}

.components {
  grid-column-start: 2;
  grid-column-end: 3;
}
